<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/css-bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Authors</title>
</head>

<body>
    <div class="nav-head">
        <h1 class="welcome">Welcome to Library</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/index}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/author}">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/editorial}">Editorials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/book}">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/partner}">Partners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/loan}">Loans</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> <br>
    <div th:switch="${authors}">
        <h2 th:case="null">There are no authors</h2>
        <div class="container" th:case="*">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td scope="col">#</td>
                        <td scope="col">Name</td>
                        <td scope="col">Lastname</td>
                        <td scope="col">Email</td>
                        <td scope="col">Created At</td>
                        <td scope="col">
                            <a th:href="@{/author/new}">
                                <button class="btn btn-outline-primary">New</button>
                            </a>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each=" author: ${authors}">
                        <td scope="row" th:text="${author.getId()}"></td>
                        <td th:text="${author.getName()}"></td>
                        <td th:text="${author.getLastname()}"></td>
                        <td th:text="${author.getEmail()}"></td>
                        <td th:text="${author.getCreatedAt()}"></td>
                        <td>
                            <a th:href="@{/author/edit/{id}(id=${author.getId()})}">
                                <button class="btn btn-outline-warning">Edit</button>
                            </a>
                            <a th:href="@{/author/delete/{id}(id=${author.getId()})}">
                                <button class="btn btn-outline-danger">Delete</button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>