<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/css-bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Update Author</title>
</head>

<body>
    <div class="nav-head">
        <h1 class="welcome">Welcome to Library</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/index}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/author}">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/editorial}">Editorials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/book}">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/partner}">Partners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/loan}">Loans</a>
                    </li>
                </ul>
            </div>
        </div>
    </div><br>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/author}">Authors</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <h2>Edit Author</h2><hr>
    </div>
    <div class="container">
        <form class="row g-3" th:action="@{/author/author-update/{id}(id=${author.getId()})}" th:object="${author}"
            method="post">
            <div class="col-md-6">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Name">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>

            <div class="col-md-6">
                <label class="form-label" for="lastname">Lastname</label>
                <input class="form-control" type="text" th:field="*{lastname}" id="lastname" placeholder="Lastname">
                <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
            </div>

            <div class="col-md-6">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="text" th:field="*{email}" id="email">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <div class="col-md-6">
                <input type="hidden"  th:field="*{createdAt}" id="createdAt">
            </div>

            <div class="col-md-4">
                <a th:href="@{/author}">
                    <button class="btn btn-outline-primary" type="button" th:href="@{/author}">Back</button>
                </a>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-primary" type="submit">Update</button>
            </div>
        </form>
    </div>
</body>

</html>