<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/css-bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Form Cliente</title>
</head>

<body>
    <div class="nav-head">
        <h1 class="welcome">Welcome to Library</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/index}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/autor}">Autor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/editorial}">Editorial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/libro}">Libros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/cliente}">Cliente</a>
                    </li>
                </ul>
            </div>
        </div>
    </div><br>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/cliente}">Cliente</a></li>
                <li class="breadcrumb-item active" aria-current="page">New</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <h2>New Cliente</h2>
        <hr>
    </div>
    <div class="container">
        <form class="row g-3" th:action="@{/cliente/cliente-create}" th:object="${cliente}" method="post">
            <div class="col-md-6">
                <label class="form-label" for="nombre">Nombre</label>
                <input class="form-control" type="text" th:field="*{nombre}" id="nombre">
                <span style="color: red;" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
            </div>

            <div class="col-md-6">
                <label class="form-label" for="apellido">Apellido</label>
                <input class="form-control" type="text" th:field="*{apellido}" id="apellido">
                <span style="color: red;" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>
            </div>

            <div class="col-md-6">
                <label class="form-label" for="dni">DNI</label>
                <input class="form-control" type="number" th:field="*{dni}" id="dni">
                <span style="color: red;" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></span>
            </div>

            <div class="col-md-6">
                <label class="form-label" for="telefono">Telefono</label>
                <input class="form-control" type="number" th:field="*{telefono}" id="telefono">
                <span style="color: red;" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span>
            </div>

            <div class="col-md-6">
                <label class="form-label" for="createdAt">Create Up</label>
                <input class="form-control" type="date" th:field="*{createdAt}" id="createdAt">
                <span style="color:red" th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}"></span>
            </div>

            <div class="col-md-6"></div>

            <div class="col-md-4">
                <a th:href="@{/cliente}">
                    <button type="button" class="btn btn-outline-primary">Back</button>
                </a>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-outline-primary">Create Cliente</button>
            </div>
        </form>
    </div>

</body>

</html>