<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Autor</title>
</head>
<body>
    <div>
        <h2>New Autor</h2>
        <a th:href="@{/autor}">Back</a>
    </div>
    <div>
        <form th:action="@{/autor/autor-create}" th:object="${autor}" method="post">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

            <label for="lastname">Lastname</label>
            <input type="text" th:field="*{lastname}" id="lastname" placeholder="Lastname">
            <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>

            <label for="createdAt">Date Up</label>
            <input type="date" th:field="*{createdAt}" id="createdAt">
            <span th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}"></span>

            <input type="submit" value="Create Autor">
        </form>
    </div>
</body>
</html>