<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/css-bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Libros Form</title>
</head>

<body>
    <div class="nav-head">
        <h1 class="welcome">Welcome to Library</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/index}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/autor}">Autor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/editorial}">Editorial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/libro}">Libros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/cliente}">Cliente</a>
                    </li>
                </ul>
            </div>
        </div>
    </div><br>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/libro}">Libro</a></li>
                <li class="breadcrumb-item active" aria-current="page">New</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <h2>New Libro</h2>
        <hr>
    </div>
    <div class="container">
        <form class="row g-3" th:action="@{/libro/new-libro}" method="post" th:object="${libroDto}">

            <div class="col-md-6">
                <label class="form-label" for="isbn">Isbn</label>
                <input class="form-control" type="number" th:field="*{isbn}" id="isbn" placeholder="1234">
                <span style="color: red;" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span>
            </div>

            <div class="col-md-6">
                <label class="form-label" for="titulo">Titulo</label>
                <input class="form-control" type="text" th:field="*{titulo}" id="titulo" placeholder="Titulo">
                <span style="color: red;" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></span>
            </div>

            <div class="col-md-6">
                <label class="form-label" for="anio">Anio</label>
                <input class="form-control" type="number" th:field="*{anio}" id="anio" placeholder="1234">
                <span style="color: red;" th:if="${#fields.hasErrors('anio')}" th:errors="*{anio}"></span>
            </div>

            <div class="col-md-6">
                <label class="form-label" for="ejemplares">Ejemplares</label>
                <input class="form-control" type="number" th:field="*{ejemplares}" id="ejemplares" placeholder="0">
                <span style="color: red;" th:if="${#fields.hasErrors('ejemplares')}" th:errors="*{ejemplares}"></span>
            </div>

            <div class="col-md-6">
                <label class="form-label" for="createdAt">Date Up</label>
                <input class="form-control" type="date" th:field="*{createdAt}" id="createdAt">
                <span style="color: red;" th:if="${#fields.hasErrors('createdAt')}" th:errros="*{createdAt}"></span>
            </div>

            <div class="col-md-6">
                <label class="form-label" for="autorId">Autores</label>
                <select class="form-control" id="autorId" th:field="*{autorId}">
                    <option th:each="autor: ${autors}" th:value="${autor.getId()}"
                        th:text="${autor.getName() + ' ' + autor.getLastname()}"></option>
                </select>
                <span style="color: red;" th:if="${#fields.hasErrors('autorId')}" th:errors="*{autorId}"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="editorialId">Editorial</label>
                <select class="form-control" id="editorialId" th:field="*{editorialId}">
                    <option th:each="editorial: ${editorials}" th:value="${editorial.getId()}"
                        th:text="${editorial.getName()}">
                    </option>
                </select>
                <span style="color: red;" th:if="${#fields.hasErrors('editorialId')}" th:errors="*{editorialId}"></span>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-4">
                <a th:href="@{/libro}">
                    <button class="btn btn-outline-primary" type="button">Back</button>
                </a>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
</body>

</html>