<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/css-bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Libro</title>
</head>

<body>
    <div class="nav-head">
        <h1 class="welcome">Welcome to Library</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/index}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/autor}">Autor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/editorial}">Editorial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/libro}">Libros</a>
                    </li>
                </ul>
            </div>
        </div>
    </div><br>
    <div th:switch="${libros}">
        <div th:case="null">
            <h3>No hay libros!</h3>
        </div>
        <div class="container" th:case="*">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td scope="col">#</td>
                        <td scope="col">ISBN</td>
                        <td scope="col">Titulo</td>
                        <td scope="col">Anio</td>
                        <td scope="col">Total</td>
                        <td scope="col">Prestados</td>
                        <td scope="col">Disponibles</td>
                        <td scope="col">Fecha Registro</td>
                        <td scope="col">
                            <a th:href="@{/libro/form-libro}">
                                <button class="btn btn-outline-primary">New</button>
                            </a>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="libro: ${libros}">
                        <td scope="row" th:text="${libro.getId()}"></td>
                        <td th:text="${libro.getIsbn()}"></td>
                        <td th:text="${libro.getTitulo()}"></td>
                        <td th:text="${libro.getAnio()}"></td>
                        <td th:text="${libro.getEjemplares()}"></td>
                        <td th:text="${libro.getEjemplaresPrestados()}"></td>
                        <td th:text="${libro.getEjemplaresRestantes()}"></td>
                        <td th:text="${libro.getCreatedAt()}"></td>
                        <td>
                            <a th:href="@{/libro/edit-libro/{id}(id=${libro.getId()})}">
                                <button class="btn btn-outline-warning">Edit</button>
                            </a>
                            <a th:href="@{/libro/delete/{id}(id=${libro.getId()})}">
                                <button class="btn btn-outline-danger">Delete</button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>